@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    padding: 0;
    margin: 0;
}

/*mobile first*/

header{
     padding: 20px;
     font-size: large;
     background: linear-gradient(0deg, rgb(131, 246, 234) 0%, rgba(45,65,253,1) 100%);
     margin-bottom: 1em;
    
}



img{
    
        border-radius: 5px;
        width: 250px;
        height: 200px;
    }
    
  


body{
    background-color: rgb(189, 214, 243);
    font-weight: bolder;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: "poppins";
 
}

footer{
    padding: 20px;
    margin-bottom: 0;
    background: linear-gradient(0deg,rgba(45,65,253,1)0%,  rgb(131, 246, 234)   100%);
    margin-top: 1.5em;
    left: 0;
    right: 0;
    
}

.logo{
    width: 20px;
    height: 20px;
}

.formulario{
    padding: auto;
    margin: 100px 50px;
    background-color: antiquewhite;
    
}

.contenedorsito{
    position: relative;
    display: inline-block;
    text-align: center;
}


.centrado{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.redondear{
    border-radius:  50% 50%;
    height: 200px;
    width: 300px;
    
}


.card{
    background-color: rgb(249, 232, 232);
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 2px;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    padding-top: 20px;
    gap: 20px;
}

.text1{
    align-items: center;
    display: flex;
    flex-direction: column;
    
    
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px 20px 20px 20px;
    align-items: center;
    align-content: center;
    padding: 30px;
    margin: 20px;
}

.card4{
    height: 320px;
}

/*ultimo*/

@media(min-width:500px){
    img{
        
        width: 300px;
        height: 250px;
    }

    
    .card{
        align-items: center;
       
    }

    .redondear{
        border-radius:  50% 50%;
        height: 300px;
        width: 400px;
        
    }
    
}